{
	log default {
		output stdout
		format console
		level INFO
	}
}

:80 {
	log

	@websocket {
		header Connection *Upgrade*
		header Upgrade websocket
	}

	handle @websocket {
		reverse_proxy https://gnosis-rpc.publicnode.com https://gnosis.drpc.org {
			lb_policy first
			lb_try_duration 15s
			lb_try_interval 250ms
			lb_retries 3

			fail_duration 30s
			max_fails 1
			unhealthy_status 403 429 5xx
			unhealthy_latency 10s

			transport http {
				tls
				dial_timeout 5s
			}

			header_up Host {http.reverse_proxy.upstream.host}
			header_up -X-Forwarded-For
			header_up -X-Forwarded-Proto
			header_up -X-Forwarded-Host

			stream_close_delay 1m
		}
	}

	handle {
		reverse_proxy https://gnosis-rpc.publicnode.com https://gnosis.drpc.org https://rpc.gnosischain.com https://rpc.gnosis.gateway.fm {
			lb_policy first
			lb_try_duration 15s
			lb_try_interval 250ms
			lb_retries 3
			lb_retry_match {
				expression `{http.reverse_proxy.status_code} != null && (int({http.reverse_proxy.status_code}) == 403 || int({http.reverse_proxy.status_code}) == 429 || (int({http.reverse_proxy.status_code}) >= 500 && int({http.reverse_proxy.status_code}) < 600))`
			}

			fail_duration 30s
			max_fails 1
			unhealthy_status 403 429 5xx
			unhealthy_latency 10s

			request_buffers 1MB

			transport http {
				tls
				dial_timeout 5s
			}

			header_up Host {http.reverse_proxy.upstream.host}
			header_up -X-Forwarded-For
			header_up -X-Forwarded-Proto
			header_up -X-Forwarded-Host
		}
	}
}
